.table-striped td:nth-child(2),
.table-striped th:nth-child(2) {
    width: 25%;
}

.table-striped td:nth-child(3),
.table-striped th:nth-child(2) {
    width: 30%;
    word-break: break-all
}